.First
{
    color: black;
    margin-top: 20px;
    border: 1px solid black;
    height: 90px;
    border-radius: 6px;
}
.First ul{
list-style: none;
display: flex;
gap: 20px;
}
.Second
{
    border: 1px solid rgb(0, 0, 0);
    width: 150px;
    height: 60px;
    /* margin-top: -2px; */
    cursor: pointer;
    
}
.Third
{
    display: flex;
}
label.checkbox
{
    font-size: small;
}
